.carta{
    background-color: #FFE59D;
    border: 2px solid black;
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
    
    

}

h4{
    
    color: black;
    text-decoration: underline;
    
    
    
}

